* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(75, 72, 72),
    rgb(157, 208, 211)
  );
}

h1 {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(160, 173, 169);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  border: 2px solid rgb(19, 16, 16);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 600px;
  height: 500px;
  &__row {
    display: flex;
    border: 1px solid rgb(95, 94, 94);
    flex-grow: 1;
    &--square {
      border: 1px solid black;
      flex-grow: 1;
      background-color: lightgray;
      &:hover {
        background-color: rgb(88, 78, 78);
        cursor: pointer;
      }
    }
  }
}

button {
  width: 150px;
  height: 70px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(160, 173, 169);
  border: 2px solid rgb(19, 16, 16);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  &:hover {
    cursor: pointer;
    background-color: rgb(88, 78, 78);
    font-size: xx-large;
  }
}
